upstream backend {
  server 192.168.56.102:80;
  server 192.168.56.103:80;
}

server {
  listen 80;
  root /var/www/html_1;
  index index.html;

  server_name nginx-1.local;
  location / {
  proxy_pass http://backend;
  }
}
